<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<div class="about">
  <div class="banner">
    <div class="content animated fadeIn">
      <h1>EVENTR</h1>
      <h6>how it works</h6>
    </div>
  </div>
  <br>
  <div class="content-body">
    <h4 style="margin:0% 10%">Always find something to do in the city.</h4><br>
    <p style="margin:0% 10%">Sign up with Eventr and have access to over thousands of events that are happening in your city! All events will pull up based on your current location and filtered by categories. Register for the event with ease straight from our website and see more information. Not ready to buy a ticket or register? No worries! Save the event and come back to it later by viewing them in your profile.</p>
  <br>
  <h4 style="margin:0% 10%;">Eventful API</h4><br>
  <p style="margin:0% 10%">Eventful is the world's largest collection of events, taking place in local markets throughout the world, from concerts and sports to singles events and political rallies. We are using Eventful.com's API to pull in all events around you. Eventful is built upon a unique, open platform that enables partners and web applications to leverage Eventful's data, features and functionality via the Eventful API.
  </p>
  <br>
  </div>
  <div class="categories">
    <h4>Event Types</h4>
    <br>
      <div class="row cat-icons">
        <div class="col col-md-2">
          <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
          <h6>Art</h6>
        </div>

        <div class="col col-md-2">
          <i class="fa fa-glass fa-4x" aria-hidden="true"></i>
          <h6>Parties</h6>
        </div>

        <div class="col col-md-2">
          <i class="fa fa-heart fa-4x" aria-hidden="true"></i>
          <h6>Fundraisers</h6>
        </div>

        <div class="col col-md-2">
          <i class="fa fa-music fa-4x" aria-hidden="true"></i>
          <h6>Festivals</h6>
        </div>

        <div class="col col-md-2">
          <i class="fa fa-futbol-o fa-4x" aria-hidden="true"></i>
          <h6>Sports</h6>
        </div>

        <div class="col col-md-2">
          <i class="fa fa-film fa-4x"  aria-hidden="true"></i>
          <h6>Film</h6>
        </div>
  </div>
    </div>
</div>
</div>
