<div class="userShow">
	<div class="page-header">
		<h1>{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}'s Profile</h1>
	</div>
	<div class="row">
		<div class="col-md-4">

			<div class="mt-4">
                <div class="card">
                    <img class="card-img-top" src="{{$ctrl.user.photo_url}}">
                    <div class="card-block">
                        <h4 class="card-title">{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}</h4>
                        <div class="meta">
                            <p>{{$ctrl.user.email}}</p>
                        </div>
                        <div class="card-text">
													<form id="edit-btn" action="/users/edit">
														<input type="submit" class="btn btn-default" value="Edit Account">
													</form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Joined {{$ctrl.user.created_at | date: 'longDate'}}</span>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-md-8">
			<h2>Favorited Events</h2>
	<ul>
	<li ng-repeat="favorite in $ctrl.eventfulFavorites"><a ui-sref="eventShow({ id: favorite.id })">{{favorite.title}}</a></li>
	</ul>
			<h2>Recent Comments</h2>
			<br>
			<div ng-repeat="comment in $ctrl.comments">


				<h5><a ui-sref="eventShow({ id: comment.event.event_id })">{{comment.activity.title}}</a></h5>
				<p>{{comment.activity.content}}</p>
				<p class="meta-comment"><b>Created:</b> {{comment.activity.created_at | date : "fullDate" }}</p>
				<hr>
			</div>



		</div>
	</div>

</div>
