<h1>{{$ctrl.event.title}}</h1>
<br>
<div class="row">
  <div class="col col-md-6">
    <h4>{{$ctrl.event.venue_name}}</h4>
    <h5>{{$ctrl.event.city}}, {{$ctrl.event.region}}</h5>
    <br>
    <img src="{{$ctrl.event.images.image.medium.url}}" alt="Event Image" width="250px">
    <br>

    <div class="social-media">
      <h5>Share with friends</h5>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest"></a>
    </div>


    <hr>
    <h6><b>Category:</b> <a href="/events/categories/{{$ctrl.event.categories.category[0].id}}">{{$ctrl.event.categories.category[0].id}}</a></h6>
  </div>
  <div class="col col-md-6">
    <h2>Event Details:</h2>
    <p>{{$ctrl.event.description}}</p> <br>

    <h5>When:</h5>
    <p>{{$ctrl.event.start_time | date : "fullDate"}}</p> <br>

    <h5>Location:</h5>
    <p>{{$ctrl.event.venue_name}}</p>
    <p>{{$ctrl.event.address}}</p>
    <p>{{$ctrl.event.city}}, {{$ctrl.event.region}}</p> <br>

    <a href="{{$ctrl.event.links.link[0].url}}" target="_blank"><button type="button" class="btn btn-primary">Purchase Ticket</button></a>
    <a href="{{$ctrl.event.url}}" target="_blank"><button type="button" class="btn btn-default">See More</button></a>

    <h2>Comments:</h2>

  </div>
</div>
