<div class="userShow">
	<div class="page-header">
		<h1>{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}'s Profile</h1>
	</div>
	<div class="row">
		<div class="col-md-4">

			<div class="mt-4">
                <div class="card">
                    <img class="card-img-top" src="{{$ctrl.user.photo_url}}">
                    <div class="card-block">
                        <h4 class="card-title">{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}</h4>
                        <div class="meta">
                            <p>{{$ctrl.user.email}}</p>
                        </div>
                        <div class="card-text">
													<a ng-show="$ctrl.user.id === $ctrl.loggedInUser.id" id="edit-btn" href="/users/edit" target="_self" class="btn btn-default">Edit Account</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Joined {{$ctrl.user.created_at | date: 'longDate'}}</span>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-md-8">
			<h2>Favorited Events</h2>
			<em ng-hide="$ctrl.eventfulFavorites.length">No favorited events.</em>
			<div id="recent-favorites">
				<ul>
				<h6><li ng-repeat="favorite in $ctrl.eventfulFavorites"> <a ui-sref="eventShow({ id: favorite.id })"><i class="fa fa-heart" aria-hidden="true"></i> {{favorite.title}}</a></li></h6>
				</ul>
			</div>
			<h2>Recent Comments</h2>
			<em ng-hide="$ctrl.comments.length">No comments.</em>
			<div id="recent-comments" ng-repeat="comment in $ctrl.comments">
				<h5><a ui-sref="eventShow({ id: comment.event.event_id })">{{comment.activity.title}}</a></h5>
				<p>{{comment.activity.content}}</p>
				<hr>
				<p class="meta-comment"><b>Created:</b> {{comment.activity.created_at | date : "fullDate" }}</p>
			</div>



		</div>
	</div>

</div>
