/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../javascripts/components/
*/

@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

/* General Style
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 30px 0px;
  margin: 60px 0;
}

.signup-content-desktop {
    border-right: thin solid #000;
}

.login-content-desktop {
    border-left: thin solid #000;
}

.login-logo {
    width: 200px;
    align-items: center;
    margin: 30px;
}

.form-group {
    text-align: left;
}

.actions {
    text-align: left;
  }

nav .container {
  margin: 0px !important;
  width: 100%;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 11.5px;
}

.text-muted a {
  color: black;
}

.text-muted a:hover {
  text-decoration: none;
}

a:hover {
  color: #ddd !important;
  text-decoration: none;
}

h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

p, li {
  font-size: 13px;
  line-height: 1.7em;
}

.btn {
  border-radius: 50px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 10px 20px;
}

.btn-default:hover {
  background-color: transparent;
  border: 1px solid black;
}

.col-md-6, .col-md-8, .col-md-4 {
  padding: 15px 35px !important;
}

/* Navbar Style
-------------------------------------------------- */


.navbar.navbar-default.navbar-fixed-top  {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar a {
  color: #555 !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: normal;
  border-left: 1px solid #eee;
}

a.navbar-brand {
  text-transform: none;
  border: 0px;
}

.navbar a:hover {
  color: #ddd !important;
}

.navbar-right {
  text-align: right;
}

/* Edit Form Style
-------------------------------------------------- */

.edit-form {
  margin: 0 auto;
  width: 60%;
}

.edit-form h2, .cancel-account {
  text-align: center;
}
