/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../javascripts/components/
*/

@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

/* General Style
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 30px 0px;
  margin: 60px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.signup-content-desktop {
    border-right: thin solid #000;
}

.login-content-desktop {
    border-left: thin solid #000;
    text-align: center;
    margin: 0 auto;
}

.login-logo {
    width: 400px;
    margin: 0;
    text-align: center;
    display: inline;
}

.login-logo {
  overflow: hidden;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.form-group {
    text-align: left;
}

.actions {
    text-align: left;
  }

nav .container {
  margin: 0px !important;
  width: 100%;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-size: 11px;
}

.text-muted a {
  color: black;
}

.text-muted a:hover {
  text-decoration: none;
}

a:hover {
  color: #ddd !important;
  text-decoration: none;
}

h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

p, li {
  font-size: 13px;
  line-height: 1.7em;
}

.btn {
  border-radius: 50px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 10px 20px;
}

.btn-default:hover {
  background-color: transparent;
  border: 1px solid black;
}

.col-md-6, .col-md-8, .col-md-4 {
  padding: 15px 35px !important;
}

/* Navbar Style
-------------------------------------------------- */
.navbar-header{
  color: #555;
}

.navbar-toggle.collapsed {
  margin: 5px 0px;
}

.icon-bar {
  background-color: #555 !important;
}

.navbar.navbar-default.navbar-fixed-top  {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar a {
  color: #555 !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: normal;
  border-left: 1px solid #eee;
}

a.navbar-brand {
  text-transform: none;
  border: 0px;
}

.navbar a:hover {
  color: #ddd !important;
}

.navbar-right {
  text-align: right;
}

/* Edit Form Style
-------------------------------------------------- */

.edit-form {
  margin: 0 auto;
  width: 60%;
}

.edit-form h2, .cancel-account {
  text-align: center;
}

/* Splash Page Style
-------------------------------------------------- */


.splash {
  background-image: url("https://source.unsplash.com/6liebVeAfrY");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.splash .content {
  position: relative;
  margin-left: 10%;
  top: 20%;
  color: white;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -ms-animation-duration: 7s;
}

.splash a {
  border: 2px solid white;
  padding: 10px 20px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
  color: white;
  letter-spacing: .2em;
}

.splash a:hover {
  border: 2px solid transparent;
  background-color: white;
  color: black !important;
}

.splash span {
  font-size: 80px;
  font-size: 7vw;
  font-weight: 600;
  letter-spacing: .1em;
  margin: 0px;
}

.splash h5 {
  letter-spacing: .2em;
  line-height: 1.5em;
}

/* About Page Style
-------------------------------------------------- */

.about .banner {
  background-image: url("https://source.unsplash.com/ePfBHXM0tyA");
  background-position: bottom;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 450px;
  color: white;
}

.banner .content {
  position: relative;
  text-align: center;
  top: 35%;
  color: white;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
}

.banner .content h1 {
  font-size: 80px;
  font-size: 7vw;
  font-weight: 600;
  letter-spacing: .1em;
  margin: 0px;
}

.banner .content-body {
  position: relative;
  color: black;
}

.cat-icons {
  text-align: center;
}

.cat-icons .fa {
  color: #bbb;
}

.content-body h4, .categories h4 {
  border-bottom: 1px solid grey;
  line-height: 3em;
  width: 50%;
}

.categories h4, .cat-icons {
  margin: 0% 10%;
}

.eventr-navbar-logo {
	width: 100px;
}
