<div class="home">
	<div class="row">
		<div class="col-sm-8">
			<div class="page-header">
				<h1 ng-bind="$ctrl.currentLocation"></h1>
			</div>
			<img src="http://www.harvard.edu/sites/default/files/content/harvard-map-google.jpg" alt="" class="img-responsive img-rounded">
			<h1>😝</h1>
		</div>
		<div class="col-sm-4">
			<div class="page-header">
				<h1>Events</h1>
			</div>
			<div class="categories">
				<select
				class="form-control"
				ng-model="$ctrl.selectedCategory"
				ng-change="$ctrl.getEventsForCategory()"
				ng-disabled="$ctrl.categoryDisabled">
				<option value="">Select category</option>
				<option value="all">all</option>
				<!-- TODO: Sanitize category.name to display & correctly-->
				<option ng-repeat="category in $ctrl.categories" value="{{category.id}}" ng-bind="category.name"></option>
			</select>
			<hr>
			<ul class="list-unstyled">
				<li ng-repeat="event in $ctrl.eventsList">
					<a href="/events/{{event.id}}">{{event.title}}</a>
					<hr>
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>
